RewriteEngine on
RewriteBase /olshop/administrator

# if a directory or a file exists, use the request directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise, forward to index.php
RewriteRule . index.php